body{
    background-color:white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:rgba(0 0 0 / 80%);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color:whitesmoke;
    z-index: 2000;
}
.logo{
    padding-left: 250px;
}
.logo1{
    padding-right:250px;
}
.fa-brands{
    font-size: 17px;
}

/* FIXED MAIN SECTION */
.main{
    position: relative;
    z-index: 100;
    width: 100%;
    height: auto;
    margin: 50px 0 0 0;
    overflow: hidden;
    padding: 0;
}

.write{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #f5f5f7;
    text-align: center;
    z-index: 10;
}

.iPhone{
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.pro{
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 400;
    letter-spacing: .007em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 6px;
    text-align: center;
}

.button{
    gap: 15px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.but1{
    border-radius: 20px;
    background: #0071e3;
    border: none;
    padding: 10px 25px;
    margin-top: 15px;
    cursor: pointer;
    transition: background 0.3s;
}
.but2{
    border-radius: 20px;
    background: black;
    border-color: #0077ed;
    padding: 10px 25px;
    margin-top: 15px;
    cursor: pointer;
    color: #0077ed;
}

.but1:hover{
    background: #0077ed;
}
.but2:hover{
     background-color: #0077ed; 
    color: white;
}
.learn{
    color: #fff;
    font-size: 17px;
}
.buy{
    color: #0071e3;
    font-size: 17px;
}
.img1{
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
    display: block;
}
.img2{
    width: 100%;
    height: auto;
    max-height: 600px;
    margin-top: 0px;
    object-fit: cover;
    object-position: center;
    display: block;
    
    
}
.write1{
    position: absolute;
    top: 6%;
    left: 42%;
    transform: translateX(-10%);
    color: black;
    text-align: center;
    padding-top:0px;

}
.Air{
    color: black;
    font-size: 50px;
    font-weight: 600;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.air{
    font-size: 24px;
        line-height: 1.16667;
        font-weight: 400;
        letter-spacing: 0.009em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
.second{
    position: relative;
    width: 100%;
    height:50%;
    padding-top: 10px
    
}
.but3{
    border-radius: 20px;
    background:white;
    border-color: #0077ed;
    padding: 10px 25px;
    margin-top: 15px;
    cursor: pointer;
    color: #0077ed;
}
.but3:hover{
    background-color: #0077ed;
    color: white;
}
.third {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    margin :5px;
    
}

.img3 {
    flex: 1; 
    position: relative;
    width: 100%
}

.img4 {
    flex: 1; 
    width: 100%;            
    
}
.left, .right{
    margin: 5px;
    position: relative;
}
.write2{
    position: absolute;
    top: 6%;
    left: 42%;
    transform: translateX(-10%);
    color: black;
    text-align: center;
    padding-top:0px;
    font-size: 20px;
}
.iPhone17{
    color: black;
    font-size: 50px;
    font-weight: 600;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.phone17{
     font-size: 19px;
        line-height: 1.21053;
        font-weight: 400;
        letter-spacing: 0.012em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.write3{
    position: absolute;
    top: 6%;
    left: 42%;
    transform: translateX(-10%);
    color: black;
    text-align: center;
    padding-top:0px;
}
.Airpodspro{
    color: black;
    font-size: 50px;
    font-weight: 600;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}
.airpod{
       font-size: 19px;
        line-height: 1.21053;
        font-weight: 400;
        letter-spacing: 0.012em;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fourth{
    /* flex: 1; */
    width: 100%;
    display: flex;
    margin :5px;
    
}
.write4{
    position: absolute;
    top: 6%;
    left: 42%;
    transform: translateX(-50%);
    width: 90%;
    color: black;
    text-align: center;
    padding-left: 60px;
    padding-top:0px;
}
.write5{
    position: absolute;
    bottom: 0%;
    left: 42%;
    transform: translateX(-50%);
    width: 90%;
    color: black;
    text-align: center;;
    padding-left: 60px;
    padding-bottom: 50px;
}
.logo2{
 width: auto;
 height: 40px;
 display:block;
 margin: 0 auto 10px auto;
}


.watch{ 
    font-size: 19px;
        line-height: 1.21053;
        font-weight: 400;
        letter-spacing: 0.012em;
        margin-top: 8px;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.watch1{
     font-size: 19px;
        line-height: 1.21053;
        font-weight: 400;
        letter-spacing: 0.012em;
        margin-top: 8px;;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.left1,.right1{
    flex:1;
     margin: 5px;
     height: 600px;
    position: relative;
    overflow: hidden;
}
.img5{
    flex: 1; 
    position: relative;
    object-fit: cover;
    display: block;
    transform:scale(1.9);
    transform-origin: center;
    width: 100%;
    height: 450px;
}
.img6{
    flex: 1; 
    width: 100%;
    height: 340px;
    position: relative;
    object-fit: cover;
     transform:scale(2.0);
    display: block;
    margin-top: 150px;     
}
.five {
    display: flex;
    height: 600px;
    width: 100%;
    gap: 10px;
    margin: 5px;
}

.left2, .right2 {
    flex: 1;
    height: 580px;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    margin-bottom: 500px;
}

.img7 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-bottom: 300px;
}

.img8 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.write6, .write7 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: black;
    text-align: center;
    padding: 0 20px;
}

.logo2, .logo3 {
    max-width: 200px;
    height: auto;
}

.watch2, .watch3 {
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: 0.011em;
    margin-top: 4px;
    margin-bottom: 12px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.watch2{
    color: #fff;
}
.button{
    gap: 15px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.but1{
    border-radius: 20px;
    background: #0071e3;
    border: none;
    padding: 10px 25px;
    margin-top: 15px;
    cursor: pointer;
    transition: background 0.3s;
}
.but2{
    border-radius: 20px;
    background: black;
    border-color: #0077ed;
    padding: 10px 25px;
    margin-top: 15px;
    cursor: pointer;
    color: #0077ed;
}

.but1:hover{
    background: #0077ed;
}
.but2:hover{
    background-color: #0077ed;
    color: white;
}
.learn {
    color: white;
    text-decoration: none;
}

.learn:hover {
    text-decoration: underline;
}
.slider{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.slides{
  flex: 0 0 80%;
  width: 80%;
  height: 100vh;
  transition: transform 0.8s ease-in-out;
  scroll-snap-align:center;
}
.slides img{
    width: 1200px;
    height: auto;
    display: block;
    object-fit: contain;
    margin-bottom: 700px;
}

